<!DOCTYPE html> 
<html lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:ui="http://java.sun.com/jsf/facelets">

  <h:head>
    <meta charset="UTF-8"/>
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
    <title>Verifica</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="#{request.contextPath}/ria/css/app.css"/>
  </h:head>
  <h:body>
    <div id="main-wrapper">
      <div class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
          <div class="logo"><h1>Verifica</h1></div>
        </div>
      </div>
      <div class="template-page-wrapper">
        <ui:insert name="content"/>
      </div>
    </div>
  </h:body>
</html>
